﻿@model IEnumerable<Hotel_Management_System.Models.Reservation_Paid>

@{
    ViewBag.Title = "listOfReservation_Paid";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>listOfReservation_Paid</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reservation_Paid_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation_Paid_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.Reservation_members)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation_Paid_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation_Paid_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation.Reservation_members)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Reservation_Paid_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Reservation_Paid_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Reservation_Paid_Id })
        </td>
    </tr>
}

</table>
