﻿@model IEnumerable<Hotel_Management_System.Models.Item_Reservation_Purchased>

@{
    ViewBag.Title = "listOfItem_Reservation_Pusrchased";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>listOfItem_Reservation_Pusrchased</h2>

<p>
    @Html.ActionLink("Create New", "addItem_Reservation_Purchased")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item_Res_Purchased_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_Res_Purchased_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Item_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.Reservation_members)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Res_Purchased_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Res_Purchased_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Item_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation.Reservation_members)
        </td>
        <td>
            @Html.ActionLink("Edit", "editItem_Reservation_Pusrchased", new { id=item.Item_Res_Purchased_Id }) |
            @Html.ActionLink("Details", "detailOfItem_Reservation_Pusrchased", new { id=item.Item_Res_Purchased_Id }) |
            @Html.ActionLink("Delete", "removeItem_Reservation_Pusrchased", new { id=item.Item_Res_Purchased_Id })
        </td>
    </tr>
}

</table>
